# archives
PDBbind18/*.tar.gz
*.zip

# logs
logs/
nohup*.out

# PDBbind
PDBbind18/refined
PDBbind18/other

# docking
docking/refined
docking/other

# datasets
datasets/flexdock/refined
datasets/flexdock/other
refined-*.tar.gz
other-*.tar.gz

# untraked
untracked

# editors
.vscode

# macOS
.DS_Store
