# archives
PDBbind18/*.tar.gz
*.tar.gz
*.zip
*.pickle

# logs
logs/
nohup*.out

# PDBbind
PDBbind18/refined
PDBbind18/other

# docking
docking/refined*
docking/other*

# optimisation
opt/refined*
opt/other*

# datasets
datasets/flexdock/refined
datasets/flexdock/other
refined-*.tar.gz
other-*.tar.gz

# gnina
mltraining/clustering/rows
mltraining/clustering/rows-wat
mltraining/gninatypes/????

# training
*reduced*.types
completelig
completerec
*.molcache2
*prototxt
*solverstate
*caffemodel
*finaltest
*finaltrain
*_train.pdf
*_test.pdf
*auc.test
*auc.train
mltraining/*/*.?.out

# python
__pycache__

# untraked
backup-*
untracked

# editors
.vscode

# macOS
.DS_Store
